<!DOCTYPE html>
<html>

<body>
    {% extends "master.html" %}

    <!-- <h1>{{ mystudents.firstname }} {{ mystudents.lastname }}</h1>

    <p>Email: {{ mystudents.email }}</p>
    <p>Phone: {{ mystudents.phone }}</p>
    <p>Member since: {{ mystudents.joined_date }}</p>

    <p>Back to <a href="/student_list">Student</a></p> -->

    {% block title %}
        Details about {{ mystudent.firstname }} {{ mystudent.lastname }}
    {% endblock %}

    {% block content %}
        <div class="mycard">
            <h1>{{ mystudent.firstname }} {{ mystudent.lastname }}</h1>
            <p>Email: {{ mystudent.email }}</p>
            <p>Phone: {{ mystudent.phone }}</p>
            <p>Member since: {{ mystudent.joined_date }}</p>
        </div>
    {% endblock %}

</body>

</html>